---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "Waste of money: People buy expensive things they rarely use, like power drills or sewing machines.",
    link: "#",
  },
  {
    index: 1,
    title:
      "Clutter: Owning items for occasional use leads to messy garages and filled closets with dust-collecting gear.",
    link: "#",
  },
  {
    index: 1,
    title:
      "Bad for environment: Overproduction and under-utilization of tools creates massive unwanted carbon footprints.",
    link: "#",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="problem">
  <SectionTitle
    sectionTitle="The Problem"
    description="People buy expensive things they rarely use."
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
